video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important; 
    box-shadow: none;
}

video::-webkit-media-controls-volume-slider {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: none;
}

video::-webkit-media-controls-current-time-display {
    display: none;
}